#img-bg{
    background-image: url('https://media.istockphoto.com/photos/notebook-and-pen-in-composition-in-black-and-white-picture-id823755336');
  
    min-height: 695px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }